[Unit]
Description=ShizuSU download redirect service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu/shizusu-download/app.py
Restart=on-failure
RestartSec=5s
User=ubuntu

[Install]
WantedBy=multi-user.target
